body {
    font-family:Roboto;
    background-color: #F57501;
    color: #D1E8FF;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Dangrek;
    text-align:center;
}

h1 {
    font-size:40pt;
}

header {
    text-align:center;
}

#hero, footer {
    border: 2px solid;
    background-color: #A85100;
    text-align:center;
    padding:10px;
}

#hero img {
    width:300px;
}

#bio {
    text-align:center;
}

#hobbies ul li:nth-child(2n+1){
    background-image: linear-gradient(to right,#D2691E,#A52A2A);
}

#hobbies ul li:nth-child(2n){
    color: #DC143C;
    background-image: linear-gradient(to right, #f1f1ca, #A52A2A);
}